<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FullyFunctionalApp"
        tools:targetApi="31">
        <activity
            android:name=".DatabasePageCyberSecurity"
            android:exported="false" />
        <activity
            android:name=".BackEndPageCyberSecurity"
            android:exported="false" />
        <activity
            android:name=".FrontEndPageCyberSecurity"
            android:exported="false" />
        <activity
            android:name=".CyberSecurityPage"
            android:exported="false" />
        <activity
            android:name=".DatabasePageBlockchain"
            android:exported="false" />
        <activity
            android:name=".BackEndPageBlockchain"
            android:exported="false" />
        <activity
            android:name=".FrontEndPageBlockchain"
            android:exported="false" />
        <activity
            android:name=".BlockchainPage"
            android:exported="false" />
        <activity
            android:name=".DatabasePageAI_ML"
            android:exported="false" />
        <activity
            android:name=".BackEndPageAI_ML"
            android:exported="false" />
        <activity
            android:name=".FrontEndPageAI_ML"
            android:exported="false" />
        <activity
            android:name=".AI_ML_Page"
            android:exported="false" />
        <activity
            android:name=".DatabasePageiOS"
            android:exported="false" />
        <activity
            android:name=".BackEndPageiOS"
            android:exported="false" />
        <activity
            android:name=".FrontEndPageiOS"
            android:exported="false" />
        <activity
            android:name=".iOSDevelopmentPage"
            android:exported="false" />
        <activity
            android:name=".DatabasePageWeb"
            android:exported="false" />
        <activity
            android:name=".BackEndPageWeb"
            android:exported="false" />
        <activity
            android:name=".FrontEndPageWeb"
            android:exported="false" />
        <activity
            android:name=".WebDevelopmentPage"
            android:exported="false" />
        <activity
            android:name=".DatabasePage"
            android:exported="false" />
        <activity
            android:name=".BackEndPage"
            android:exported="false" />
        <activity
            android:name=".FrontEndPage"
            android:exported="false" />
        <activity
            android:name=".AndroidDevelopmentPage"
            android:exported="false" />
        <activity
            android:name=".SecondPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>